<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <div class="mb-3">
                    <label class="form-label">Trabajo</label>
                    <input type="text" class="form-control" formControlName="trabajo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Empresa</label>
                    <input type="text" class="form-control" formControlName="empresa">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha de inicio</label>
                    <input type="date" class="form-control" formControlName="fecha_inicio">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha final</label>
                    <input type="date" class="form-control" formControlName="fecha_fin">
                </div>
                <div class="mb-3">
                    <label class="form-label">Breve descripción</label>
                    <textarea class="form-control" cols="30" rows="5" formControlName="descripcion"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="exampleCheck1">¿Trabajo actual?</label>
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarExp">Agregar</button>
            </form>
        </div>
    </div>
</div>