<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Lenguaje</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <div class="mb-3">
                    <label class="form-label">Lenguaje</label>
                    <input type="text" class="form-control" formControlName="habilidad">
                </div>
                <div class="mb-3">
                    <label class="form-label">Porcentaje</label>
                    <input type="number" class="form-control" formControlName="porcentaje">
                </div>
                <div class="mb-3">
                    <label class="form-label">Viewbox del ícono</label>
                    <input type="text" class="form-control" formControlName="iconVB">
                </div>
                <div class="mb-3">
                    <label class="form-label">Path del ícono</label>
                    <input type="text" class="form-control" formControlName="iconPath">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarHab">Editar</button>
            </form>
        </div>
    </div>
</div>