<div class="text-b mr-6 ml-6 z-0" id="proyectos">
    <h2 class="text-4xl text-center text-900 m-4">Proyectos <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Proy" *ngIf="validado()" (click)="addMode()"><i class="bi bi-file-earmark-plus"></i> Agregar</button></h2>
    <div class="text-center">
        <p-progressSpinner *ngIf="!dataOK"></p-progressSpinner>
    </div>
    <div *ngIf="dataOK">
        <div class="card mb-3" *ngFor="let proyecto of proyectos">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src={{proyecto.img}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{proyecto.nombre}}
                            <a href={{proyecto.link}}>
                                <button class="btn btn-info float-end">Ver <i class="pi pi-check"></i></button></a>
                            <button class="btn btn-danger mx-2 float-end" (click)="eliminarProyecto(proyecto.id!)" *ngIf="validado()"><i class="bi bi-trash3"></i> Eliminar</button>
                            <button class="btn btn-primary mx-1 float-end" (click)="proyectoActual(proyecto)" data-bs-toggle="modal" data-bs-target="#Proy" *ngIf="validado()"><i class="bi bi-pencil"></i> Editar</button>
                        </h5>
                        <p class="card-text">{{proyecto.descripcion}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Proy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="!editMode">Agregar Proyecto</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="editMode">Editar Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
                    <div class="mb-3">
                        <label class="form-label">Nombre del proyecto</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripcion del proyecto</label>
                        <input type="text" class="form-control" formControlName="descripcion">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Imagen referencial</label>
                        <input type="text" class="form-control" formControlName="img">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Link al proyecto</label>
                        <input type="text" class="form-control" formControlName="link">
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProy" *ngIf="!editMode">Agregar</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProy" *ngIf="editMode">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>