<div class="text-b mr-6 ml-6 z-0" id="proyectos">
    <h2 class="text-4xl text-center text-900">Proyectos</h2>
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-card header="Páginas Web" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/pagina.jpg">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ver páginas" icon="pi pi-check"></p-button>

                </ng-template>
            </p-card>
        </div>
        <div class="col-12 md:col-4">
            <p-card header="Juegos" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/juego.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ver juegos" icon="pi pi-check"></p-button>

                </ng-template>
            </p-card>
        </div>
        <div class="col-12 md:col-4">
            <p-card header="Otros" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/calcu.jpg">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Ver otros" icon="pi pi-check"></p-button>

                </ng-template>
            </p-card>
        </div>
    </div>
</div>