<div class="text-b mr-6 ml-6" id="educacion">
    <h2 class="text-4xl text-center text-900">Educación</h2>
    <p-fieldset legend="Título: Desarrollador Fullstack">

        <ul>
            <li>Cursado en: Argentina programa</li>
            <li>Finalizado: 30/06/2021</li>
        </ul>
    </p-fieldset>
    <br>
    <p-fieldset legend="Título: Analista de Datos">

        <ul>
            <li>Cursado en: Google Company</li>
            <li>Finalizado: 30/06/2021</li>
        </ul>
    </p-fieldset>
</div>