.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-color: var(--text-color-secondary);
    --bs-accordion-active-bg: #304562;
    --bs-accordion-btn-color: var(--text-color-secondary);
    --bs-accordion-active-color: var(--text-color-secondary);
    --bs-accordion-border-color: #727cf5;
    --bs-accordion-btn-bg: #304562;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

#educacion::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

img {
    height: 60px;
}

.boton {
    display: block;
    width: 100%;
    padding: 20px;
}