<p-menubar [model]="items" class="min-w-full z-5">
    <ng-template pTemplate="start">
        <p class="ml-3">Copyright © 2022 Emanuel Capo</p>


    </ng-template>



    <ng-template pTemplate="end">
        <a href="#"> <i class="pi pi-instagram mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-facebook mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-linkedin mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-github mr-3" style="font-size: 1.5rem;"></i></a>
    </ng-template>
</p-menubar>