<p-menubar class="min-w-full z-5">
    <ng-template pTemplate="start">
        <p class="ml-3">Copyright © 2022 Emanuel Capo</p>
    </ng-template>

    <ng-template pTemplate="end">
        <!-- <a href="#"> <i class="pi pi-instagram mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-facebook mr-3" style="font-size: 1.5rem;"></i></a> -->
        <a href="#top" target='_self'><i class='pi pi-angle-double-up mr-4' style="font-size: 1.5rem;"></i></a>
        <a href="https://www.linkedin.com/in/emanuel-capo" target="_blank"> <i class="pi pi-linkedin mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="https://github.com/Emanuel-Capo" target="_blank"> <i class="pi pi-github mr-3" style="font-size: 1.5rem;"></i></a>
    </ng-template>
</p-menubar>