<div class="container text-b" id="experiencia">
    <h2 class="text-4xl text-center text-900">Experiencia
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agregarExp">Agregar</button></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card no-bg">
                <div class="card-body">
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" *ngFor="let exper of experiencias" attr.data="Desde:{{exper.fecha_inicio|date:'dd/MM/yyyy'}} Hasta:{{exper.fecha_fin|date:'dd/MM/yyyy'}}">

                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h3>Empresa: {{exper.empresa}}</h3>
                                        <h3>Trabajo: {{exper.trabajo}}</h3>
                                    </div>

                                    <div>
                                        <button class="btn btn-primary mx-2" (click)="experienciaActual(exper)" data-bs-toggle="modal" data-bs-target="#editarExp">Editar</button>
                                        <button class="btn btn-danger" (click)="eliminarExperiencia(exper.id!)">Eliminar</button>
                                    </div>
                                </div>
                                <p>{{exper.descripcion}}</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarExp" tabindex="-1" aria-hidden="true">
    <app-agregar-exp (onExperiencia)="agregarExperiencia($event)"></app-agregar-exp>
</div>

<div class="modal fade" id="editarExp" tabindex="-1" aria-hidden="true">
    <app-editar-exp [experiencia]="experActual" (onEditado)="editarExperiencia(experActual.id!, $event)"></app-editar-exp>
</div>