<div class="text-b mr-6 ml-6 z-0" id="skills">
    <h2 class="text-4xl text-center text-900">Habilidades</h2>
    <div class="grid text-center">
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueHtml" valueTemplate="HTML"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueCss" valueTemplate="CSS"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueJs" valueTemplate="JS"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueJava" valueTemplate="Java"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueAng" valueTemplate="Angular"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valueGit" valueTemplate="Git"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valuePhp" valueTemplate="PHP"></p-knob>
        </div>
        <div class="col-6 md:col-3">
            <p-knob [(ngModel)]="valuePhyton" valueTemplate="Phyton"></p-knob>
        </div>
    </div>
</div>