<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Educación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <div class="mb-3">
                    <label class="form-label">Título:</label>
                    <input type="text" class="form-control" formControlName="titulo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Cursado en:</label>
                    <input type="text" class="form-control" formControlName="academia">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha final</label>
                    <input type="date" class="form-control" formControlName="fecha_fin">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="exampleCheck1">¿Cursando actualmente?</label>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>