<div class="text-b mx-6 my-2 grid" id="acerca">
    <div class="col-3 h-12rem ">
        <img src="./assets/no-image.png" class="m-3 -mt-8 max-h-full max-w-full border-circle">
    </div>
    <div class="col-9">
        <h2 class="text-4xl text-900">Acerca de</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quaerat reiciendis. Vitae, blanditiis pariatur, aliquid voluptatum magnam inventore repellendus mollitia explicabo voluptates doloribus corrupti distinctio nihil officiis dolores
            impedit enim? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo omnis voluptatem adipisci ab ut sit iure quas, eius expedita numquam earum quasi sapiente facilis fuga? Accusamus et minus reprehenderit reiciendis!</p>
    </div>
</div>