<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Proyecto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <div class="mb-3">
                    <label class="form-label">Nombre del proyecto</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion del proyecto</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagen referencial</label>
                    <input type="text" class="form-control" formControlName="img">
                </div>
                <div class="mb-3">
                    <label class="form-label">Link al proyecto</label>
                    <input type="text" class="form-control" formControlName="link">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProy">Agregar</button>
            </form>
        </div>
    </div>
</div>