<p-menubar [model]="items" class="min-w-full z-5" id="menu">
    <ng-template pTemplate="start">
        <img src="./assets/APLogo-20-20.png" height="70">
    </ng-template>
    <ng-template pTemplate="end">
        <a href="#"> <i class="pi pi-instagram mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-facebook mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-linkedin mr-3" style="font-size: 1.5rem;"></i></a>
        <a href="#"> <i class="pi pi-github mr-3" style="font-size: 1.5rem;"></i></a>
        <button pButton label="Login" class="mr-3"></button>
    </ng-template>
</p-menubar>